@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

.main-test-logo {
	color: #ffab00;
	text-align: center;
}
form {
	width: 50%;
	margin: 0 auto;
	font-size: 16pt;
}
#how_much {
	width: 50px;
}
.btn {
	float: right;
}
.checkboxes {
	margin-left: 20px;
}