@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

.main-test-logo {
	color: #424242;
	text-align: center;
}
.btn-flat {
	float: right;
	padding-right: 10px;
}
form {
	width: 50%;
	margin: 0 auto;
	font-size: 16pt;
}
#how_much {
	width: 50px;
}
.checkboxes {
	margin-left: 20px;
}

#get-money-button {
  margin: 15em auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 10em;
}

.pull-right {
	float: right;
}

.application-row {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#borrower-profile-form .btn {
	font-size: 10pt;
}
#borrower-profile-form button,
#borrower-profile-form a {
	float: right;
	margin-right: 2px;
}
#rate-star-bad {
	color: #78909c;
}

#profile {
  margin: 5em auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#borrower-money-buttons a {
	margin-top: 2px;
}

/*@media (max-width:300px) {
	.rate-stars-icons {
		width: 75%;
	}
	.rate-stars-text {
		width: 25%;
	}
}*/